In [2]:
a=2+3
print(a)

5

In [3]:
user_names=["侍太郎","侍一郎","侍二郎","侍三郎",
           "侍四郎"]
user_ages=[36,33,29,25,22]
user_names.append("侍五郎")
user_names.pop(2)
print(user_names[2])

侍三郎

In [4]:
country_names = ("日本","アメリカ","イギリス","フランス")
print(country_names[2])

イギリス

In [5]:
prime_numbers = {2,5,2,3,7,5,5}

prime_numbers.add(11)
prime_numbers.remove(3)
print(prime_numbers)

{2, 5, 7, 11}

In [6]:
stationery_prices={"鉛筆":70,"ボールペン":120,"シャープペン":150,"消しゴム":90}
print(stationery_prices["ボールペン"])

120

In [7]:
sports = {1:"サッカー",2:"野球",3:"バスケット"}
sports[2] = "バドミントン"
sports[4] = "水泳"
print(sports)

{1: 'サッカー', 2: 'バドミントン', 3: 'バスケット', 4: '水泳'}

In [8]:
# 連想配列を作成
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

# キー「name」の値を表示
print(personal_data["name"])

# 連想配列全体を表示
print(personal_data)

# キー「age」の値を更新
personal_data["age"] = 37

# 新しく要素（キーと値）を追加
personal_data["address"] = "東京都"

# 連想配列全体を表示
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [19]:
# リスト（array）
array = [
    "月曜日は晴れです",
    "火曜日は雨です",
    "水曜日は晴れです",
    "木曜日は晴れです",
    "金曜日は曇りです",
    "土曜日は曇りのち雨です",
    "日曜日は雷雨です"
]

print(array[1])

# ディクショナリ（dictionary）
dictionary = {
    "mon": "晴れ",
    "tue": "雨",
    "wed": "晴れ",
    "thu": "晴れ",
    "fri": "曇り",
    "sat": "曇りのち雨",
    "sun": "雷雨"
}


print(dictionary["mon"])

火曜日は雨です
晴れ