In [ ]:
AGE=18  # 年齢

In [ ]:
user

In [ ]:
age = 20  # 年齢

if age < 20:
    # 未成年の場合
    print("ジュースで乾杯！")
else:
    # 青年の場合
    print("お酒で乾杯！")

お酒で乾杯！

In [ ]:
print('こんにちは')
print("今日はいい天気ですね")

こんにちは
今日はいい天気ですね

In [ ]:
print(100)

100

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [ ]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(30 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
100.0
0.1999999999999975

In [ ]:
print("降水確率" + str(50) + "%")

降水確率50%

In [ ]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [ ]:
number1 = 5
number2 = 2.5
print(number1 + number2)

last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [ ]:
last_name = "侍"
first_name = "太郎"
sister_name = "花子"

print(f"私の名前は{last_name}です。{first_name}です。")

私の名前は侍です。太郎です。

In [ ]:
top = 10  # cm
bottom = 20  # cm
height = 5  # cm

area = (top + bottom) * height / 2

print(f"{area}cm²")

75.0cm²

In [ ]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def printinfo(self):

        print(f"名前: {self.name}, 年齢: {self.age}")

person = Human("太郎", 20)

person.printinfo()

名前: 太郎, 年齢: 20

In [ ]:
!rm /etc/localtime
!ln -s /usr/share/zoneinfo/Asia/Tokyo /etc/localtime
!date

Sun Aug 17 07:08:31 PM JST 2025

In [ ]:
# timeモジュールをインポート
import time

# 現在の日時を指定したフォーマットで出力する
print(time.strftime("%Y年%m月%d日%H時%M分%S秒", time.localtime()))

2025年08月17日19時09分21秒

In [ ]:
# timeモジュールをインポート
import time

# 現在時刻をUNIXタイムスタンプで取得
print(time.time())

1755425397.7706296

In [ ]:
# datetimeモジュールをインポート
import datetime

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

# 取得した日付date_timeの日時を特定のフォーマットで出力する
print(date_time.strftime("%Y年%m月%d日%H時%M分%S秒"))

2015年03月19日12時15分30秒

In [ ]:
# datetimeモジュールをインポート
import datetime

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

print(date_time)

# 年,月,日,時,分,秒だけをそれぞれ取り出すことも可能です
print(date_time.year)
print(date_time.month)
print(date_time.day)
print(date_time.hour)
print(date_time.minute)
print(date_time.second)

2015-03-19 12:15:30
2015
3
19
12
15
30

In [ ]:
# datetimeモジュールをインポート
import datetime

# 現在時刻を取得する
now = datetime.datetime.now()

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

# 2つのdatetimeの差を取得し、変数intervalに代入する（interval＝間隔）
interval = now - date_time

# 取得した日時の差を特定のフォーマットで出力する
print(f"総日数は{interval.days}日です。")

総日数は3804日です。

In [ ]:
# datetimeモジュールをインポート
import datetime

# 現在時刻を取得する
now = datetime.datetime.now()

# 1年間の日数差を変数td_1yに代入する
td_1y = datetime.timedelta(days=365)

# 現在の日時に1年を加算し、変数addに代入する
add = now + td_1y

# 3日間の日数差を変数td_3dに代入する
td_3d = datetime.timedelta(days=3)

# 現在の日時から3日を減算し、変数subに代入する（sub＝「減算」を意味するsubtractionの略）
sub = now - td_3d

# 加算・減算した日時を特定のフォーマットで出力する
print(add.strftime("現在から1年後は%Y年%m月%d日%H時%M分%S秒です。"))
print(sub.strftime("現在から3日前は%Y年%m月%d日%H時%M分%S秒です。"))

現在から1年後は2026年08月17日19時12分33秒です。
現在から3日前は2025年08月14日19時12分33秒です。

In [1]:
pip install Django

Collecting Django
  Downloading django-5.2.5-py3-none-any.whl.metadata (4.1 kB)
Collecting asgiref>=3.8.1 (from Django)
  Downloading asgiref-3.9.1-py3-none-any.whl.metadata (9.3 kB)
Requirement already satisfied: sqlparse>=0.3.1 in /usr/local/lib/python3.11/dist-packages (from Django) (0.5.3)
Downloading django-5.2.5-py3-none-any.whl (8.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.3/8.3 MB 58.0 MB/s eta 0:00:00
Downloading asgiref-3.9.1-py3-none-any.whl (23 kB)
Installing collected packages: asgiref, Django
Successfully installed Django-5.2.5 asgiref-3.9.1

In [2]:
import django
print(django.get_version())
# 3.0.6

5.2.5

In [3]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def check_adult(self):
        if self.age >= 20:
            print(f"{self.name}（{self.age}歳）は大人です。")
        else:
            print(f"{self.name}（{self.age}歳）は大人ではありません。")

humans = [
    Human("一", 18),
    Human("二", 22),
    Human("三", 30),
    Human("四", 15)
]

for human in humans:
    human.check_adult()

一（18歳）は大人ではありません。
二（22歳）は大人です。
三（30歳）は大人です。
四（15歳）は大人ではありません。